<div class="post-voting-comment-composer">
  <textarea
    class="post-voting-comment-composer-textarea"
    value={{this.value}}
    {{on "input" this.onInput}}
    {{on "keydown" @onKeyDown}}
  ></textarea>

  {{#if this.value.length}}
    {{#if this.errorMessage}}
      <div class="post-voting-comment-composer-flash error">
        {{errorMessage}}
      </div>
    {{else}}
      <div class="post-voting-comment-composer-flash">
        {{i18n
          "post_voting.post.post_voting_comment.composer.length_ok"
          count=this.remainingCharacters
        }}
      </div>
    {{/if}}
  {{/if}}
</div>