<div class="post-voting-comments-menu-composer">
  <PostVotingCommentComposer
    @onInput={{this.updateValue}}
    @onKeyDown={{this.onKeyDown}}
  />

  <DButton
    @action={{this.saveComment}}
    @disabled={{this.submitDisabled}}
    @icon="reply"
    @label="post_voting.post.post_voting_comment.submit"
    @class="btn-primary post-voting-comments-menu-composer-submit"
  />

  <DButton
    @display="link"
    @action={{@onCancel}}
    @label="post_voting.post.post_voting_comment.cancel"
    @class="post-voting-comments-menu-composer-cancel"
  />
</div>